<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foot-IL</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js
    "></script>
  </head>
  <body>
    <a href="signup"><button>Sign Up</button></a>
    <a href="login"><button>Login</button></a>
    <script src="/index.js"></script>
  </body>
</html>
