<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foot-IL</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="https://code.jquery.com/jquery-3.7.0.min.js
    "></script>
  </head>
  <body>
    <button id="signup">Sign Up</button>
    <button id="login">Login</button>
    <div id="cur-user" style="display: none"></div>
    <div id="err-log" style="display: none"></div>
    <div id="login-container" style="display: none"></div>

    <script src="/js/index.js"></script>
  </body>
</html>
