<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.7.0.min.js
    "></script>
    <title>Login Page</title>
  </head>
  <body>
    <div class="login-container">
      <h2>Login Form</h2>
      <form>
        <label for="email">Email:</label>
        <input
          type="text"
          id="email"
          name="email"
          placeholder="Enter your email"
          required
        />

        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Enter your password"
          required
        />
        <button type="submit" id="login-btn">Login</button>
      </form>
    </div>

    <script src="/login.js" defer></script>
  </body>
</html>
